@media (min-width: 992px) {
    .menu_header {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        /* margin-top: 20px; */

    }

    .menu_header .back_image {
        background-image: url(CSS/background.jpg);
        height: 500px;
        background-size: cover;
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
        position: relative;
    }

    .menu_header .back_image .navigation .logo {
        width: 100%;
    }

    .menu_header .back_image .navigation .menus {
        width: 100%;
    }

    .menu_header .back_image .navigation .search {
        width: 100%;
    }

    .info {
        width: 50%;
        position: absolute;
        top: 150px;
    }

    .more_info {

        width: 100%;
        display: flex;
        flex-wrap: nowrap;
    }

    .more_info .coffee_info {
        width: 100%;
    }

    .more_info .coffee_images {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .more_info .coffee_images img {
        height: 250px;
        width: 200px;
    }

    .products {
        width: 100%;
    }

    .products .prod_img {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .products .prod_img img {
        height: 200px;
        width: 353px;
    }

    .products .prod_img .prod_1 {
        width: 100%;
    }

    .products .prod_img .prod_2 {
        width: 100%;
    }

    .products .prod_img .prod_3 {
        width: 100%;
    }

    .services {

        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .services .coffee_ser {
        width: 100%;
    }

    .services .coffeetype_1 {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .gallery {
        width: 100%;
    }

    .gallery .images {
        height: 170px;
        width: 275px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        row-gap: 20px;
        column-gap: 0px;
        padding: 40px;
        margin-left: 90px;
    }

    .gallery .images .gall_img {
        height: auto;
        position: relative;
    }

    .gallery .images img {
        height: 170px;
        width: 275px;
        border-radius: 20px;
        margin-left: 35px;

    }

    .gallery .details_img {
        position: absolute;
        height: 170px;
        width: 275px;
        margin-left: 35px;

    }

    .gallery .gall_img .details_img {
        position: absolute;
        background-color: black;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0.8;
        /* height: 100%; */
        /* width: 100%; */
        overflow: hidden;
        transition: 1s all ease;
        border-radius: 20px;
        transform: scale(0);
        /* transition: 1s all ease 280ms; */
    }

    .gallery .gall_img:hover .details_img {
        /* height: 98%; */
        transform: scale(1);
        height: 170px;
        width: 275px;
        /* align-items: center; */
    }

    .profile {
        width: 100%;
    }

}