* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 1000px;

}

.menu_header {
    width: 100%;
    display: flex;
    /* margin-top: 20px; */
    background-color: aqua;
    height: 700px;

}

.menu_header .back_image {
    background-image: url(CSS/background.jpg);
    height: 700px;
    background-size: cover;
    display: flex;
    width: 100%;
    position: relative;

}

.menu_header .back_image .logo {
    width: 20%;
    padding: 20px;
    height: 70px;
}

.menu_header .logo a {
    text-decoration: none;
    color: white;
    font-size: 0.3in;
    font-family: cursive;
    font-weight: bold;

}

.menu_header .logo a span {
    color: orange;
    font-size: 0.3in;
}


.menu_header .back_image .menus {
    width: 50%;
    height: 70px;

}

.menu_header .menus ul {
    list-style-type: none;
    display: flex;

    padding: 30px;
    align-items: center;
    justify-content: space-around;
}

.menu_header .menus li a {
    text-decoration: none;
    color: white;
    font-family: cursive;
    font-weight: bold;
}

.menu_header .menus li span {
    color: white;
}

.menu_header .back_image .search {
    width: 30%;
    height: 70px;
    text-align: center;

}

.menu_header .search span {
    color: white;
    font-size: 0.2in;
    padding: 30px;

}

.menu_header .search button {
    height: 40px;
    width: 120px;
    border: none;
    border-radius: 20px;
    color: white;
    background-color: orange;
    font-family: cursive;
    font-weight: bold;
}

.info {
    height: 200px;
    width: 50%;
    position: absolute;
    top: 150px;
    padding: 20px;
}

.info h1 {
    color: white;
    padding-bottom: 30px;
    font-size: 0.2in;
    font-family: cursive;
    font-weight: bold;
}

.info p {
    color: white;
    padding-bottom: 30px;
    font-size: 0.2in;
    font-family: cursive;
    font-weight: bold;
}

.info button {
    height: 40px;
    width: 120px;
    border: none;
    border-radius: 20px;
    color: white;
    background-color: orange;
    font-family: cursive;
    font-weight: bold;
}

.more_info {
    height: 500px;
    width: 100%;
    display: flex;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 50px;
}

.more_info .coffee_info {
    width: 25%;
}

.more_info .coffee_images {
    width: 75%;
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    gap: 30px;

}

.more_info .coffee_info h5 {
    color: rgb(80, 78, 75);
    text-transform: uppercase;
    font-family: cursive;
    padding-bottom: 20px;
    font-weight: bold;
}

.more_info .coffee_info h1 {
    color: rgb(111, 71, 171);
    text-transform: capitalize;
    font-family: cursive;
    padding-bottom: 20px;
    font-weight: bold;
}

.more_info .coffee_info p {
    color: gray;
    text-transform: capitalize;
    font-family: cursive;
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 15px;
}

.more_info .coffee_info button {
    height: 40px;
    width: 120px;
    border: none;
    border-radius: 20px;
    color: white;
    background-color: orange;
    font-family: cursive;
    font-weight: bold;
}

.more_info .coffee_images img {
    height: 314px;
    width: 246px;
    border-radius: 20px;
    transition: 1s all ease;
    margin-right: 20px;
    margin-left: 20px;
}

.more_info .coffee_images img:hover {
    transform: translateY(-25px);
    /* transform: rotate(360deg); */
}

.products {
    height: 700px;
    width: 100%;
    /* display: flex; */
    /* margin-top: 50px; */
    /* margin-left: 20px; */
    /* margin-right: 20px; */
    padding: 50px;
    background-color: rgb(239, 235, 232);
}

.products .firstline,
.secondline {
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: cursive;
    color: gray;
}

.products .secondline {
    text-transform: capitalize;
    font-size: 0.4in;
    color: rgb(107, 107, 160);
}

.products .prod_img {
    width: 100%;
    display: flex;
    text-align: center;
    /* align-items: center; */
    margin-top: 50px;


}

.products .prod_img img {
    height: 300px;
    width: 453px;
    border-radius: 10px;
    /* background-size: cover; */
}

.products .prod_img .prod_1 {
    width: 33%;
    background-color: white;
    border-radius: 5px;
    margin: 10px;
}

.products .prod_img .prod_1 .ban1_info {
    padding: 20px;
    text-align: center;
    /* font-weight: bold; */
}

.products .prod_img a {
    text-decoration: none;
    padding-bottom: 20px;
    font-weight: bold;
    font-family: cursive;
    color: rgb(106, 106, 142);

    /* text-align: right; */
}

.products .prod_img a:hover {
    color: orange;
}

.products .prod_img p {
    padding: 10px;
    font-family: cursive;
    color: gray;
}

.products .prod_img .prod_2 {
    width: 34%;
    /* height: 500px; */
    background-color: white;
    border-radius: 5px;
    margin: 10px;
}

.products .prod_img .prod_2 .ban2_info {
    padding: 20px;
    text-align: center;
    /* font-weight: bold; */
}

.products .prod_img .prod_3 {
    width: 33%;
    background-color: white;
    border-radius: 5px;
    margin: 10px;
}

.products .prod_img .prod_3 .ban3_info {
    padding: 20px;
    text-align: center;
    /* font-weight: bold; */
}

.services {
    height: 700px;
    width: 100%;
    display: flex;
    /* margin-top: 50px; */
    /* margin-left: 20px; */
    /* margin-right: 20px; */
    padding: 50px;
    background-color: white;
}

.services .coffee_ser {
    width: 40%;
}

.services .coffee_ser h5 {
    color: gray;
    text-transform: uppercase;
    font-family: cursive;
    font-weight: bold;
    padding-bottom: 20px;
}

.services .coffee_ser h1 {
    color: rgb(111, 71, 171);
    text-transform: capitalize;
    font-family: cursive;
    padding-bottom: 20px;
    font-weight: bold;
}

.services .coffee_ser p {
    color: gray;
    text-transform: capitalize;
    font-family: cursive;
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 15px;
    line-height: 35px;
}

.services .coffee_ser button {
    height: 40px;
    width: 120px;
    border: none;
    border-radius: 20px;
    color: white;
    background-color: orange;
    font-family: cursive;
    font-weight: bold;
}

.services .coffeetype_1 {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.services .coffeetype_1 .type_1 {
    text-align: center;

}

.services .coffeetype_1 .type_1 span {
    color: orange;
    font-size: 35px;
    padding-bottom: 20px;
}

.services .coffeetype_1 .type_1 a {
    text-decoration: none;
    font-size: 30px;
    font-family: cursive;
    text-transform: capitalize;
    /* padding-bottom: 40px; */
}

.services .coffeetype_1 .type_1 a:hover {
    color: orange;
}

.services .coffeetype_1 .type_1 p {
    text-align: center;
    font-size: 20px;
    font-family: cursive;
    color: gray;
    line-height: 30px;
    text-transform: capitalize;
    padding-top: 20px;
}

.gallery {
    height: 600px;
    width: 100%;
    background-color: rgb(239, 235, 232);
}

.gallery h5 {
    padding-top: 20px;
    /* margin-top: 20px; */
    font-size: 20px;
    font-family: cursive;
    font-weight: bold;
    text-transform: uppercase;
    color: gray;
    text-align: center;
}

.gallery h1 {
    padding-top: 10px;
    font-size: 40px;
    font-family: cursive;
    font-weight: bold;
    text-transform: capitalize;
    color: rgb(111, 71, 171);
    text-align: center;
}

.gallery .images {
    height: 170px;
    width: 275px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 20px;
    column-gap: 0px;
    padding: 40px;
    margin-left: 90px;

}

.gallery .images .gall_img {
    height: auto;
    position: relative;
}

.gallery .images img {
    height: 170px;
    width: 275px;
    border-radius: 20px;
    margin-left: 35px;

}

.gallery .details_img {
    position: absolute;
    height: 170px;
    width: 275px;
    margin-left: 35px;

}

.gallery .details_img h1 {
    padding-top: 10px;
    font-size: 30px;
    font-family: cursive;
    font-weight: bold;
    text-transform: capitalize;
    color: white;
    text-align: center;
}

.gallery .details_img h5 {
    padding-top: 20px;
    /* margin-top: 20px; */
    font-size: 20px;
    font-family: cursive;
    font-weight: bold;
    text-transform: uppercase;
    color: gray;
    text-align: center;
}

.gallery .gall_img .details_img {
    background-color: black;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.5;
    height: 0;
    overflow: hidden;
    /* transition: 1s all ease; */
    border-radius: 20px;

    transition: 1s all ease 280ms;
    /* transform: matrix(2); */
    /* background-size: cover; */

}

.gallery .gall_img:hover .details_img {
    height: 98%;
    transform: translateY(2) scale3d(1, 1, 2);
    align-items: center;
}

/* .gallery .images img {
    height: 170px;
    width: 275px;
    border-radius: 20px;
    margin-left: 35px;
} */

/* .gallery .images img:hover {
    color: black;
    opacity: 0.5;
    
} */
.profile {
    height: 500px;
    width: 100%;
    text-align: center;
}

.profile h5 {
    padding-bottom: 10px;
    margin-top: 40px;
    font-size: 10px;
    font-family: cursive;
    font-weight: bold;
    text-transform: uppercase;
    color: gray;
    /* text-align: center; */
}

.profile h1 {
    font-size: 30px;
    font-family: cursive;
    font-weight: bold;
    text-transform: capitalize;
    color: rgb(111, 71, 171);
    padding-bottom: 40px;
    /* text-align: center; */
}

.profile img {
    height: 133px;
    width: 140px;
    border-radius: 50%;
}

.profile .pro_info p {
    height: 100px;
    width: 900px;
    /* margin: 100px auto; */
    font-size: 20px;
    line-height: 40px;
    font-family: cursive;
    font-weight: bold;
    color: gray;
    padding-left: 200px;
    margin-left: 200px;
    /* padding-right: 300px; */
    padding-bottom: 200px;
}

.profile .icon span {
    /* height: 100px; */
    width: 60px;
    font-size: 30px;

}